[Desktop Entry]
Icon=text-html
Name=model
Type=Link
URL[$e]=https://www.deviantart.com/simplyachair/art/Fire-Emblem-Mia-3D-Model-Download-V2-869568689
